[DEVICE]
Name=ATMEGA32
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_GNSS_AVR.c
[HEADERS]
Count=3
File0=Click_GNSS_timer.h
File1=Click_GNSS_config.h
File2=Click_GNSS_types.h
[PLDS]
Count=1
File0=Click_GNSS.pld
[Useses]
File0=GNSS_AVR_LT
File1=UART
File2=C_String
File3=easyavr_v7_ATMEGA32
Count=4
