[DEVICE]
Name=FT900
Clock=100000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_GNSS_FT90x.c
[HEADERS]
Count=3
File0=Click_GNSS_timer.h
File1=Click_GNSS_config.h
File2=Click_GNSS_types.h
[PLDS]
Count=1
File0=Click_GNSS.pld
[Useses]
File0=GNSS_FT90x
File1=UART
File2=C_String
File3=easyft90x_v7_FT900
Count=4